.figure--mod {
    width: 30%;
    margin: 1rem;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.caption--mod {
    color: var(--bluish-grey);
    font-weight: 700;
    text-align: center;
}

.image--mod {
    border: .5rem solid var(--bluish-grey);
    padding: 1rem;
}